@page "/choose-album"

<PageTitle>Choose album</PageTitle>

<div class="container center">
    <div class="row align-items-center height-25">
        <h3>Choose the album you want to browse.</h3>
    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <a href="/choose-year/1">
                <button class="big-purple-button"><i class="bi bi-book-fill big-icon"></i><br>Collection album</button>
            </a>
        </div>

        <div class="col-12 col-md-4">
            <button class="big-purple-button"><i class="bi bi-stack big-icon"></i><br>Duplicate album</button>
        </div>

        <div class="col-12 col-md-4">
            <button class="big-purple-button"><i class="bi bi-bookmark-star-fill big-icon"></i><br>Wishlist album</button>
        </div>
    </div>
</div>

@code {

}
