.center {
    text-align: center;
}

.coin-image {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.bold-text {
    font-weight: bold;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

button {
    width: 250px;
    margin-top: 10px;
}

.edit-button {
    margin-top: 0px;
}

.purple-button {
    background-color: rgb(97, 15, 100);
    border-color: rgb(97, 15, 100);
    color: white;
}
