.guidelines-heading {
    margin-top: 30px;
    text-decoration: underline;
}

.guideline-top {
    margin-top: 15px;
    margin-bottom: 2px;
}

.guideline-bot {
    margin-top: 2px;
    font-weight: normal;
}

.bold-text {
    font-weight: bold;
}
