@page "/"
@page "/home"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<div>
    <p>
        This is a website for numismatists and notaphilists. You can put your coins and banknotes in virtual albums to better organize
        <a href="my-collection">your collection</a>. You may use this website to sell your duplicate coins/banknotes
        or to let other users know what type of coins/banknotes you are interested in and swap them using our
        <a href="swap-centre">swap centre</a>.
        Please respect our swap rules and don’t try to scam other people. We would like to have a nice community here and
        let everyone enjoy their collecting.
    </p>
    
    <p>
        If you found a bug, information that is incorrect or have an interesting idea to improve our website,
        please contact us via <a href="support">support</a>. You might earn respect points and make our website more enjoyable.
    </p>
</div>


<h4 class="margin-top-20px">Coin Swapping Guidelines</h4>

<div>
    <ol>
        <li class="bold-text">
            <p class="guideline-top">Fair Quality Exchanges</p>
            <p class="guideline-bot">
                Swap only coins that are of a quality you would be happy to receive yourself.
                Ensure the condition of the coin matches what has been agreed upon.
            </p>
        </li>
        
        <li class="bold-text">
            <p class="guideline-top">Polite and Respectful Correspondence</p>
            <p class="guideline-bot">
                Maintain politeness and respect in all communication.
                Be courteous and patient, and avoid any form of rudeness or inappropriate behavior.
            </p>
        </li>
        
        <li class="bold-text">
            <p class="guideline-top">Protect Your Privacy</p>
            <p class="guideline-bot">
                Do not share unnecessary or sensitive personal information.
                Limit the exchange of details to what's required for the swap (e.g., name and address).
            </p>
        </li>

        <li class="bold-text">
            <p class="guideline-top">Limit High-Value Swaps</p>
            <p class="guideline-bot">
                Avoid swapping coins with a high total value if you are swapping with stranger.
            </p>
        </li>
        
        <li class="bold-text">
            <p class="guideline-top">Address Verification</p>
            <p class="guideline-bot">
                Double-check that the address you are sending to matches the verified first line of the provided address.
            </p>
        </li>

        <li class="bold-text">
            <p class="guideline-top">Secure Packaging</p>
            <p class="guideline-bot">
                Safely wrap and protect your coins before sending.
                Use bubble wrap or a padded envelope to prevent damage during transit.
            </p>
        </li>
        
        <li class="bold-text">
            <p class="guideline-top">Proof of Postage</p>
            <p class="guideline-bot">
                Always obtain proof of postage from the Post Office or shipping provider when sending your coin(s).
                This helps protect both parties if any issues arise during shipping.
            </p>
        </li>

        <li class="bold-text">
            <p class="guideline-top">Honest and Accurate Descriptions</p>
            <p class="guideline-bot">
                Accurately describe the condition, rarity, and type of coin you are offering for swap.
                Transparency ensures a fair and satisfying exchange for both parties.
            </p>
        </li>
        
        <li class="bold-text">
            <p class="guideline-top">No Rush, Take Your Time</p>
            <p class="guideline-bot">
                Avoid feeling rushed into a swap.
                Take time to verify the coin’s details and ensure you're comfortable with the swap arrangement before proceeding.
            </p>
        </li>
    </ol>
</div>

