@page "/profile"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@using SystemForCoinCollectors.Data

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>

@code
{
}
