button {
    width: 140px;
    margin-bottom: 50px;
}

.submit-button {
    background-color: rgb(97, 15, 100);
    border-color: rgb(97, 15, 100);
    color: white;
}

    .submit-button:hover {
        opacity: 0.5;
    }
