.combo-box-label {
    font-weight: bold;
    margin-top: 10px;
}

.purple-button {
    background-color: rgb(97, 15, 100);
    border-color: rgb(97, 15, 100);
    color: white;
}

.container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.card {
    border: none;
}

.coinImage {
    margin: 25px 10px 5px;
    width: 150px;
    height: 150px;
}

.unobtained {
    opacity: 0.5;
}

.obtained {
    opacity: 1;
}

.prevNext {
    margin: 15px;
}


    .prevNext button {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgb(97, 15, 100);
        border-color: rgb(97, 15, 100);
        color: white;
    }

.radio-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

