@page "/search"

<PageTitle>Search</PageTitle>

<h3 class="center">What are you looking for?</h3>

<button class="big-blue-button">Button1</button>
<button class="big-blue-button">Button2</button>
<button class="big-blue-button">Button3</button>

@code {

}
