button {
    margin: 35px 10px 5px;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
}

.image-button {
    margin: 35px 10px 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
}

.austrian-coin {
    background-image: url("images/2_euro_coins/Austria_2euro.png");
}

.belgian-coin {
    background-image: url("images/2_euro_coins/Belgium_2euro.png");
}

.belgian-coin-v2 {
    background-image: url("images/2_euro_coins/Belgium_2euro_v2.png");
}

.belgian-coin-v3 {
    background-image: url("images/2_euro_coins/Belgium_2euro_v3.png");
}

.cypriot-coin {
    background-image: url("images/2_euro_coins/Cyprus_2euro.png");
}

.estonian-coin {
    background-image: url("images/2_euro_coins/Estonia_2euro.png");
}

.finnish-coin {
    background-image: url("images/2_euro_coins/Finland_2euro.png");
}

.french-coin {
    background-image: url("images/2_euro_coins/France_2euro.png");
}

.french-coin-v2 {
    background-image: url("images/2_euro_coins/France_2euro_v2.png");
}

.german-coin {
    background-image: url("images/2_euro_coins/Germany_2euro.png");
}

.greek-coin {
    background-image: url("images/2_euro_coins/Greece_2euro.png");
}

.irish-coin {
    background-image: url("images/2_euro_coins/Ireland_2euro.png");
}

.italian-coin {
    background-image: url("images/2_euro_coins/Italy_2euro.png");
}

.latvian-coin {
    background-image: url("images/2_euro_coins/Latvia_2euro.png");
}

.lithuanian-coin {
    background-image: url("images/2_euro_coins/Lithuania_2euro.png");
}
