button {
    margin: 35px 10px 5px;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
}

.image-button {
    margin: 35px 10px 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
}
