<div class="alert alert-danger error-message">
    <h3>Error occurred</h3>
    <span>Something went wrong! Try again later or contact our <a href="/support" class="alert-link">support team</a>.</span>
</div>

