<div class="alert alert-warning error-message">
    <h3>Not Logged In</h3>
    <span>You have to be logged in to see the content of this page</span>
    <br>
    <span>Click here to log in: <a href="/login" class="alert-link">Log In</a></span>
</div>